.rightAnsWrapper {
  border: 1px solid lightgray;
  margin-top: 40px;
  border-radius: 10px;
  position: sticky;
  top: 55px;
}

.rightAnsWrapper h2 {
  border-bottom: 1px solid lightgray;
  padding-bottom: 12px;
  text-align: center;
}
.singelItemRightAns {
  text-align-last: left;
}
.singelItemRightAns li {
  list-style-type: none;
  border: 1px solid lightgray;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  background: #47e632f1;
}

.singelItemWrongAns li {
  background: #e63232f1;
}

.hideUserAnsArea {
  visibility: hidden;
}

.defaultAnswering {
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .detailsWrapper {
    flex-direction: column-reverse;
    display: flex;
  }
}
